body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}
header {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
} 
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
} 
h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff0000;
    size: 50px;
} 
img {
    max-width: 100%;
    height: auto;
} 
footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}
@media screen {
    body{
        flex-direction: column;
    }
}
